::selection {
    background: none;
}

@font-face {
    font-family: 'angry-birds';
    src: url('https://github.com/js802025/Angry-Birds/raw/main/data/font/angrybirds-regular.ttf') format('truetype');
}

body {
    position: absolute;
    top: 10vh;
    left: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#play-home {
    position: absolute;
    border: none;
    background: none;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}

#play-home:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#play-home img {
    width: 45%;
    height: auto;
}

.score {
    font-family: 'angry-birds';
    color: white;

    font-size: 32px;
    position: absolute;
    top: 5vh;
    right: 5vw;
    cursor: default;
}

#stage {
    /* position: absolute;
    transition: all 0.8s ease; */
}

#stage button {
    /* font-family: 'angry-birds';
    background-color: #F4BA4C;
    color: white;
    font-size: 80px;
    padding: 20px 44px 20px 44px;
    border-radius: 16px;
    border: 4px solid white;
    cursor: pointer;
    transition: all 0.8s ease; */
}

#stage-wrapper {
    transition: all 0.8s ease;
    margin: 20px;
}

#stage-wrapper:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#stage-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
}

#stage1-star,
#stage2-star,
#stage3-star,
#stage4-star,
#stage5-star,
#stage6-star,
#stage7-star, 
#stage8-star,
#stage9-star,
#stage10-star,
#stage11-star,
#stage12-star,
#stage13-star,
#stage14-star{
    font-family: 'angry-birds';
    color: black;
    padding: 6px;
    text-align: center;
    font-size: 24px;
}

#stage-wrapper-1 {
    position: absolute;
    top: 225px;
    justify-content: center;
    align-items: center;
    left: 760px;
    z-index: 120;
    color:black !important;
}

#stage-wrapper-2 {
    position: absolute;
    top: 150px;
    justify-content: center;
    align-items: center;
    left: 730px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-3 {
    position: absolute;
    top: 425px;
    justify-content: center;
    align-items: center;
    left: 75px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-4 {
    position: absolute;
    top: 275px;
    justify-content: center;
    align-items: center;
    left: 250px;
    z-index: 120;
    color:black !important;
}

#stage-wrapper-5 {
    position: absolute;
    top: 275px;
    justify-content: center;
    align-items: center;
    left: 350px;
    z-index: 120;
    color:black !important;
}

#stage-wrapper-6 {
    position: absolute;
    top: 100px;
    justify-content: center;
    align-items: center;
    left: 150px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-7 {
    position: absolute;
    top: 125px;
    justify-content: center;
    align-items: center;
    left: 300px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-8 {
    position: absolute;
    top: 125px;
    justify-content: center;
    align-items: center;
    left: 30px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-9 {
    position: absolute;
    top: 200px;
    justify-content: center;
    align-items: center;
    left: 350px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-10 {
    position: absolute;
    top: 300px;
    justify-content: center;
    align-items: center;
    left: 400px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-11 {
    position: absolute;
    top: 350px;
    justify-content: center;
    align-items: center;
    left: 300px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-12 {
    position: absolute;
    top: 400px;
    justify-content: center;
    align-items: center;
    left: 400px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-13 {
    position: absolute;
    top: 250px;
    justify-content: center;
    align-items: center;
    left: 475px;
    z-index: 120;
    color:black !important;
}
#stage-wrapper-14 {
    position: absolute;
    top: 325px;
    justify-content: center;
    align-items: center;
    left: 565px;
    z-index: 120;
    color:black !important;
}
.ship {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

#stage2 {
    top: 35vh;
    left: 39vw;
}

#stage3 {
    top: 35vh;
    left: 51vw;
}

#stage4 {
    top: 35vh;
    left: 63vw;
}

#pause-btn {
    position: absolute;
    top: 4vh;
    left: 2vw;
    border: none;
    background: none;
    z-index: 100;
    transition: all 0.8s ease;
}

#play-btn {
    position: absolute;
    z-index: 100;
    top: 4vh;
    left: 2vw;
    border: none;
    background: none;
    transition: all 0.8s ease;
}

#restart-btn {
    position: absolute;
    z-index: 100;
    top: 4vh;
    left: 6vw;
    border: none;
    background: none;
    transition: all 0.8s ease;
}
#retry {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background: none;
    transition: all 0.8s ease;
    z-index: 100;
}
#big-stars {
    position: absolute !important;
    justify-content: center;
    top:-5%;
    font-size: 100px;
    position: relative;
    z-index: 90;
}

.locationHeading {
    position: absolute !important;
    justify-content: center;
    top:-5%;
    font-size: 100px;
    position: relative;
    z-index: 90;
    opacity: 0;
    color:white;
    font-family: 'angry-birds';

}

.battleCry {
    position: absolute;
    top: 200px;
    left:200px;
    opacity: 0;
    font-family: 'angry-birds';
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }

#retry-btn, #next-btn {
    border: none;
    background: none;
}
#home-btn {
    position: absolute;
    top: 4vh;
    z-index: 100;
    left: 10vw;
    border: none;
    background: none;
    transition: all 0.8s ease;
}

#stage-btn {
    position: absolute;
    top: 4vh;
    left: 14vw;
    border: none;
    z-index: 100;
    background: none;
    transition: all 0.8s ease;
}

#pause-btn:hover,
#play-btn:hover,
#restart-btn:hover,
#home-btn:hover,
#stage-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#pause-img {
    position: absolute;
    top: 4px;
    left: 0vw;
    border: none;
    background: none;
    padding: 125px 300px;
}

#rb-wrapper {
    position: absolute;
    top: 20vh;
    left: 2vw;
}

#rb-stage1,
#rb-stage2,
#rb-stage3,
#rb-stage4,
#rb-stage5,
#rb-stage6,
#rb-stage7,
#rb-stage8,
#rb-stage9,
#rb-stage10,
#rb-stage11,
#rb-stage12,
#rb-stage13,
#rb-stage14 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 150px;
    width: 60px;
    height: auto;
    left: 4px;
    justify-content: flex-start;
}

#rb-wrapper img {
    width: 80%;
    height: auto;
    
    margin-bottom: 8px;
}

#rb-stage2 img {
    max-width: 20px;
}

#rb-stage6 img {
    max-width: 40px;
}

#now-bird-stage1,
#now-bird-stage2,
#now-bird-stage3,
#now-bird-stage4,
#now-bird-stage5,
#now-bird-stage6,
#now-bird-stage7,
#now-bird-stage8,
#now-bird-stage9,
#now-bird-stage10,
#now-bird-stage11,
#now-bird-stage12,
#now-bird-stage13,
#now-bird-stage14 {
    font-family: 'angry-birds';
    color: white;
    padding-left: 10px;
    padding-bottom: 6px;
}

#transparent {
    position: absolute;
    width: 800px;
    height: 580px;
    top: 3vh;
    right: 1vw;
    background: none;
    border: none;
}